<div class=" footer text-center bg-danger text-white">
  <h6>Developed by Students, B.Sc.(M.E.Cs). Sri Venkateswara Arts College</h6>
  <h5></h5>
  <h6>Site visitors :
    <!-- Start of WebFreeCounter Code -->
    <a href="https://www.webfreecounter.com/" target="_blank"><img
        src="https://www.webfreecounter.com/hit.php?id=gvvffakp&nd=4&style=1" border="0" alt="hit counter"></a>
    <!-- End of WebFreeCounter Code -->
    , For Technical Queries contact
    : Chiranjeevi, <a href="mailto:chiranjeevimcn@gmail.com" class="developer-mail">chiranjeevimcn@gmail.com</a>
  </h6>
  <!-- <h5 class="bg-primary">Made with Love in Tirupati</h5> -->
</div>