<div class="footer bg-danger">
  <h5>Designed by Students, B.Sc.(M.E.Cs).
    Site Visitors :
    <!-- Start of WebFreeCounter Code -->
    <a href="https://www.webfreecounter.com/" target="_blank"><img
        src="https://www.webfreecounter.com/hit.php?id=gvvffakp&nd=4&style=1" border="0" alt="hit counter"></a>
    <!-- End of WebFreeCounter Code -->
  </h5>
  <h5>Sri Venkateswara Arts College</h5>
</div>